sudo: required

language: java
jdk:
  - oraclejdk8

services:
  - docker                  

before_install:
  - sudo apt-get -qqy update
  - sudo apt-get -qqy install software-properties-common python-software-properties
  - sudo add-apt-repository ppa:mc3man/trusty-media -y
  - sudo apt-get -qqy install ffmpeg
  - mkdir -p output
  - docker pull asciidoctor/docker-asciidoctor
  - chmod +x gradlew

before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3 # give xvfb some time to start

script:
  - docker run -v $TRAVIS_BUILD_DIR:/documents/ --name asciidoc-to-html asciidoctor/docker-asciidoctor asciidoctor -D /documents/output *.adoc      
  - docker run -v $TRAVIS_BUILD_DIR:/documents/ --name asciidoc-to-pdf asciidoctor/docker-asciidoctor asciidoctor-pdf -D /documents/output *.adoc    
  - ./gradlew clean test

after_error: 
  - docker logs asciidoc-to-html
  - docker logs asciidoc-to-pdf

after_failure:
  - docker logs asciidoc-to-html
  - docker logs asciidoc-to-pdf

after_success:      
  - cd output ; mv README.html index.html ; cp -R ../images images
  - git init
  - git config user.name "${GH_USER_NAME}"
  - git config user.email "{GH_USER_EMAIL}"
  - git add . ; git commit -m "Deploy to GitHub Pages"
  - git push --force --quiet "https://${GH_TOKEN}@${GH_REF}" master:gh-pages

notifications:
  email:
    recipients:
      - sergio_89@ukr.net
    on_failure: always
